# Arquivos temporários
.DS_Store
Thumbs.db

# Arquivos de log e saída
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diretórios e arquivos gerados por build
node_modules/
dist/
build/
out/
*.out

# Arquivos de cache
*.swp
*.bak
*.tmp

# Arquivos de configuração
*.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Arquivos de compilação
*.js.map
*.js.uncompressed.map
*.js.lint
*.js.lint.cmd
*.js.lint.log

# Outros
.idea/
.vscode/
*.sublime-*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw??